p {
  font-size: small;
}
.commentBox {
  box-sizing: border-box;
  font-size: small;

  /* other styles */
}

.commentInput {
  border: none;
  outline: none;
  /* border-top: 1px solid rgb(191, 191, 191); */
  width: 100%;
  /* padding-bottom: .7rem; */
  padding: 0.5rem 0.7rem;
}

.commentInput::placeholder {
  font-size: small;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dots {
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none; /* Hide the dropdown by default */
  position: absolute;
  z-index: 1;
  right: 100%; /* Position the dropdown to the left of the trigger */
  top: 0; /* Align the top of the dropdown with the trigger */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  color: black; /* Set text color */
  text-decoration: none; /* Remove underline */
}

.dropdown-content a:hover {
  background-color: #ddd; /* Add hover effect */
}

.dropdown:hover .dropdown-content {
  display: block; /* Show the dropdown on hover */
}

.dropdown:hover .dots {
  background-color: #ddd; /* Change background color on hover */
}
